
  <div class="item-medium-1__alert">Sale</div>
  <div class="item-medium-1__image image" [style.backgroundImage]=" 'url('+ product.imgUrl[0] + ')' ">
    <input type="text" style="z-index: 20" #inputNumber>
      <!-- <a href="#" class="item-medium-1__action" (click)="itemAddedToCart(inputNumber)">Add to Cart</a> -->
      <a href="#" class="item-medium-1__action" (click)="itemAddedToCart()">Add to Cart</a>
  </div>
  <a href="#">
      <h4>{{product.basicData[0].name}}</h4>
      <div class="flex-row">
          <div>
              <del [innerText] = "product.price">${{product.price}}</del>
              <span class="lable">${{getPrice()}}</span>
          </div>
      </div>
  </a>
  <div class="crud-actions">
      <a href="#"><i class="far fa-eye"></i></a>
      <a href="#"><i class="fas fa-edit"></i></a>
      <a href="#"><i class="fas fa-trash-alt"></i></a>
      <!-- <a href="#" (click)="deleteThisProduct()"><i class="fas fa-trash-alt"></i></a> -->
  </div>

