

            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>{{filter.filterName}}</li>
            <!-- <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Automotive</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Baby</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Books</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Eletronics</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Women's Fashion</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Men's Fashion</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Health & Household</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Home & Kitchen</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Military Accessories</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Movies & Television</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Sports & Outdoors</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Tools & Home Improvement</li>
            <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Toys & Games</li> -->
