    <!-- add Item -->
    <div class=" container">
      <form class="add-product" #myForm="ngForm">
          <div class="add-product__images slider">
              <div class="add-product__image-actions">
                  <div class="add-product__image-action">
                      <a href="#"><i class="fas fa-plus-square"></i></a>
                      <a href="#"><i class="fas fa-edit"></i></a>
                      <a href="#"><i class="fas fa-trash-alt"></i></a>
                  </div>
              </div>
              <div class="slider__items">
                  <div class="slider__item active" style="background-image: url(assets/img/desktop-device-1.png)"></div>
                  <div class="slider__item" style="background-image: url(assets/img/desktop-device-1.png)"></div>
                  <div class="slider__item" style="background-image: url(assets/img/desktop-device-1.png)"></div>
              </div>
              <div class="slider__indicators">
                  <span class="slider__indicator active"></span>
                  <span class="slider__indicator"></span>
                  <span class="slider__indicator"></span>
              </div>
          </div>
          <div class="add-product__data">
              <div class="form-controls">
                  <section class="tabs">
                      <div class="tabs__headers">
                          <div class="tabs__header active">
                              English
                          </div>
                          <div class="tabs__header">
                              Arabic
                          </div>M
                      </div>
                      <div class="tabs__bodies">
                          <div class="tabs__body active">
                              <div class="form-group" [ngClass]="{'invalid':textInput.invalid && textInput.touched}">
                                  <label for="">Name</label>
                                  <input required #textInput="ngModel" minlength="10" maxlength="20"  [(ngModel)]="product.basicData[0].name"   class="form-control" type="text" name="nameInputFiled" id="">
                                  <span *ngIf="textInput.invalid && textInput.touched && textInput.errors?.required">This field is Required</span>
                                  <span *ngIf="textInput.invalid && textInput.touched && textInput.errors?.minlength">Min Length {{textInput.errors?.minlength.requiredLength}} and you have entered {{textInput.errors?.minlength.actualLength}}</span>
                                </div>
                              <div class="form-group" [ngClass]="{'invalid':textDescription.invalid}">
                                  <label for="">Description</label>
                                  <textarea   #textDescription="ngModel"   [(ngModel)]="product.basicData[0].desc" class="form-control" name="descInputFiled" id="" cols="30" rows="4"></textarea>
                              </div>
                          </div>
                          <!-- <div class="tabs__body ">
                              <div class="form-group invalid">
                                  <label for="">Name</label>
                                  <input class="form-control" type="text" name="" id="">
                              </div>
                              <div class="form-group">
                                  <label for="">Description</label>
                                  <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                              </div>
                          </div> -->
                      </div>
                  </section>

                  <div class="form-group">
                      <label for="">Price</label>
                      <input [(ngModel)]="product.price" class="form-control" type="text" name="price" id="">
                  </div>
                  <div class="add-product__discount">
                      <div class="form-group">
                          <label for="">Satus</label>
                          <div class="form-group__radios">
                              <div class="form-group__radio"><input #radiButton type="saleradio" value="true" name="" id=""><span>On Sale</span></div>
                              <div class="form-group__radio"><input #radiButton type="saleradio" value="false" name="" id=""><span>Not On Sale</span></div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="">Discount</label>
                          <input   [(ngModel)]="product.discount" class="form-control" type="text" name="discound" id="">
                      </div>
                </div>
                <div class="form-group">
                  <label for="">Payment Types</label>
                  <div class="form-group__checkboxs">
                      <div *ngFor="let pt of paymentTypeMethods; let i=index" class="form-group__checkbox"><input [ngModel]="product.paymentTypeMethods"  type="checkbox" [name]="'check_'+i" id=""><span>{{pt.name}}</span></div>
                      <!-- <div class="form-group__checkbox"><input ngModel type="checkbox" name="check_1" id=""><span>Cheque Payment</span></div>
                      <div class="form-group__checkbox"><input ngModel type="checkbox" name="check_2" id=""><span>Paypal</span></div>
                      <div class="form-group__checkbox"><input ngModel type="checkbox" name="check_3" id=""><span>Visa</span></div>
                      <div class="form-group__checkbox"><input ngModel type="checkbox" name="check_4" id=""><span>Mastercard</span></div>
                      <div class="form-group__checkbox"><input ngModel type="checkbox" name="check_5" id=""><span>On Dilivery</span></div> -->
                  </div>
              </div>






        <!-- <app-payment-types></app-payment-types> -->



                  <div class="form-group">
                      <label for="">Category</label>
                      <select ngModel class="form-control" name="category" id="">
                          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>

                      </select>
                  </div>

                  <div class="taged-textbox form-group">
                      <label class="taged-textbox__lable" for="">Tags</label>
                      <div class="taged-textbox__data">
                          <div class="taged-textbox__tags">
                              <div class="taged-textbox__tag"><span>tag1</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag2</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag3</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag4</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag5</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag6</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag7</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag8</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag9</span><a href="#" class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                              <div class="taged-textbox__tag"><span>tag10</span><a class="taged-textbox__remove"><i
                                          class="fas fa-times"></i></a></div>
                          </div>
                          <div class="taged-textbox__clear">
                              <a href="#"><i class="fas fa-times"></i></a>
                          </div>
                      </div>
                      <input [(ngModel)]="product.tags" class="taged-textbox__textbox form-control" type="text" name="tag" id="">
                  </div>
                  <div class="add-product__actions">
                      <button href="#" class="btn btn--gray">Cancel</button>
                      <button type="button" class="btn btn--primary" (click)="onSubmit(myForm,textInput)">Add</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
