<div class="form-group">
  <label for="">Payment Types</label>
  <div class="form-group__checkboxs">
      <div class="form-group__checkbox" *ngFor="let paymentMethod of paymentTypeMethods"><input type="checkbox" name="" id=""><span>{{paymentMethod.name}}</span></div>
      <!-- <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Cheque Payment</span></div>
      <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Paypal</span></div>
      <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Visa</span></div>
      <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>Mastercard</span></div>
      <div class="form-group__checkbox"><input type="checkbox" name="" id=""><span>On Dilivery</span></div> -->
  </div>
</div>
